﻿@model DMS.Model.Login_Model

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DMS</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <!-- Font Awesome -->
    <link href="~/Content/css/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link href="~/Content/css/bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Content/css/dist/css/AdminLTE.min.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
           folder instead of downloading all of them to reduce the load. -->
    <link href="~/Content/css/dist/css/skins/_all-skins.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">*@
    <!-- Morris chart -->
    <link href="~/Content/css/bower_components/morris.js/morris.css" rel="stylesheet" />
    <!-- jvectormap -->
    <link href="~/Content/css/bower_components/jvectormap/jquery-jvectormap.css" rel="stylesheet" />
    <!-- Date Picker -->
    <link href="~/Content/css/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <!-- Daterange picker -->
    <link href="~/Content/css/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <!-- bootstrap wysihtml5 - text editor -->
    <link href="~/Content/css/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" />
    @*<link href="~/Content/css/dist/css/dms.css" rel="stylesheet" />*@
    <link href="~/Content/css/dist/css/dms.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <style>
        .modal {
            padding-right: 650px !important;
        }
    </style>
    <script src="~/Content/css/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Content/css/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body class="logingbg" style="height:50%">
    <div class="login-box">
        <div class="">
            <div class="login-box-body">
                <p class=" ">
                    @*<img src="~/Content/css/dist/images/logo.jpg" class="img-responsive center-block">*@
                    @*<img src="~/Content/css/dist/images/Flexidocs.jpg" class="img-responsive center-block">*@
                    <img src="~/Content/css/dist/images/login-logos.png" class="img-responsive center-block">
                    <h3>Login</h3>
                </p>
                <form action="" class="form-horizontal" method="post" style="height:100%">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="txtusername" maxlength="50" id="txtusername" placeholder="User Name">
                        <span class="fa fa-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" name="txtpwd" maxlength="6" id="txtpwd" placeholder="Password">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        @Html.ValidationMessageFor(m =>m.Password)
                        @*<span class="fa fa-eye logineye" onmousedown="mouseoverPass() ;" onmouseup="mouseoutPass();"></span>*@
                    </div>
                    <div class="errormessage" style="color:blue">
                    </div>
                    <div class="row">
                        <div>
                            <button type="submit" class="btn btn-primary btn-block btn-flat" onclick="return CheckLogin();" id="btnsubmit">Sign In</button>
                        </div>

                        <div class="form-group text-center">
                            <a href="#" style="color:#FFF" onclick="ForgotPassword()">Forgot Password</a><br>
                        </div>
                        <div class="form-group text-center">
                            <span class="Success_show" style="color: white">@ViewBag.message</span>
                        </div>

                        @*<div class="col-xs-8">*@
                        @*<table>
                                <tr>
                                    <td>
                                        <button type="submit" class="btn btn-primary btn-block btn-flat" style="width:100%" onclick="return CheckLogin();" id="btnsubmit">Sign In</button>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <button type="submit" class="btn btn-primary btn-block btn-flat" style="width:130px" onclick=" ForgotPassword();" id="btnsubmit">Forgot password?</button>
                                    </td>
                                </tr>
                                <tr>
                                    <span class="Success_show" style="color: white">@ViewBag.message</span>
                                </tr>

                            </table>*@


                        @*</div>*@
                        <!-- /.col -->
                        @*<div class="col-xs-4">
                                <button type="submit" class="btn btn-primary btn-block btn-flat" onclick="return CheckLogin();" id="btnsubmit">Sign In</button>
                            </div>
                            <div class="col-xs-4">
                                <button type="submit" class="btn btn-info btn-lg ml20" onclick=" ForgotPassword();" id="btnsubmit">Forgot password?</button>
                            </div>*@
                        <!-- /.col -->
                    </div>
                </form>

                @*<button type="submit" class="btn btn-info btn-lg ml20" onclick=" ForgotPassword();" id="btnsubmit">Forgot password?</button>*@
            </div>
        </div>
    </div>
    <footer class="container" style="text-align:center; width:100%">
        <strong style="text-align:center">Copyright &copy; 2019 Flexicode Technologies Pvt Ltd.</strong>
        @*<div class="container">
                <div class="col-md-12 text-center">
                    <p>© 2018 Flexicode. All rights reserved. </p>
                </div>
            </div>*@
    </footer>
</body>
</html>

<script>
    function CheckLogin() {
        debugger;
        @*var d = new Date();//get current date.
        var month = d.getMonth() + 1;//get current month
        var day = d.getDate();//get current day
        var Current_Date = d.getFullYear() + '-' + (month < 10 ? '0' : '') + month + '-' + (day < 10 ? '0' : '') + day;
        var expired_Date = '@(System.Configuration.ConfigurationManager.AppSettings["ExpiredDate"].ToString())'
        if (expired_Date == Current_Date) {
            alert('Your trail period is expired please contact admin.!!');
            var url = '@Url.Action("login", "login")'
            window.location.href = url;
            return false;
        }
        else {*@
        var UserName = $("#txtusername").val();
        var Password = $("#txtpwd").val();

        if (UserName == "") {
            $(".errormessage").html('<span class="errormessage"  id="mess">Please Enter UserName...!!</span>');
            $("#erridmsg").show();
            return false;
        }
        if (Password == "") {
            $(".errormessage").html('<span class="errormessage"  id="mess">Please Enter Password...!!</span>');
            $("#erridmsg").show();
            return false;
        }
        @*}*@
    }
    function ForgotPassword() {
        debugger;
        var url = '@Url.Action("ForgetPassword", "login")'
        window.location.href = url;
        //window.location.href = '../login/ForgetPassword';
    }
</script>